<p>La Torre de Hanoi es un juego o rompecabezas matemático.</p>
<p>
  Consta de tres varillas y un número de discos de diferentes tamaños, que
  pueden deslizarse sobre cualquier varilla.
</p>
<p>
  El rompecabezas comienza con los discos en una pila ordenada en orden
  ascendente de tamaño en una varilla, el más pequeño en la parte superior,
  haciendo así una forma cónica.
</p>
<p>
  El objetivo del rompecabezas es mover toda la pila a otra varilla, obedeciendo
  las siguientes reglas simples:
</p>
