<div class="wrapper">
  <div class="titleWrapper">
    <h1 id="instructions">Torre de hanoi</h1>
    <button
      class="mat-elevation-z4"
      mat-raised-button
      type="button"
      (click)="goToSection('game')"
    >
      Al juego 🎮
    </button>
  </div>
  <app-que-es-torre-hanoi></app-que-es-torre-hanoi>
  <app-instrucciones></app-instrucciones>
  <section style="text-align: center">
    <h2 id="game">A jugar 🎮</h2>
    <button
      class="mat-elevation-z4"
      mat-raised-button
      type="button"
      (click)="goToSection('instructions')"
    >
      Instrucciones 🧾
    </button>
    <app-juego></app-juego>
  </section>
</div>
